<div class="col-xs-6 col-md-2" id = "rcms-nav-app">
  <ul class="nav nav-pills nav-stacked">
    <li role="presentation" class = "stats"><a href="#app/stats/<%= id %>">Statistics</a></li>                        
    <li role="presentation" class = "settings"><a href="#app/settings/<%= id %>">Settings</a></li>  
  </ul>
</div>
<div class="col-xs-12 col-md-9" id= "rcms-body-app">
	<div class="row">
		<div class="col-md-8">
			<form class="form-horizontal" role="form" id="offset-form">
			  <div class="form-group">
			    <label for="offset" class="col-md-6 control-label">View Stats From Last:</label>
			    <div class="col-md-2">
					<select class="form-control" name ="offset">
						<option value="10">10 mins</option>
						<option value="20">20 mins</option>
						<option value="30">30 mins</option>
						<option value="40">40 mins</option>
						<option value="50">50 mins</option>
						<option value="60">60 mins</option>
					</select>					
			    </div>			   
			  </div>
			</form>			
		</div>
	</div> 
	<div class="row">
		<div class="col-md-6">
			<div id = "stats1"></div>			
		</div>
		<div class="col-md-6">
			<div id = "stats2"></div>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-md-12">
			<div id = "stats3"></div>
		</div>
	</div>	
</div>
