
	<div class="row">
      <p class="panel-body-format"><%= note %></p>
    </div>          
    <div class="row">
    	<table class="table table-hover">
	      <thead>
	        <tr>              
	          <th>Features</th>
	          <th>In Package</th>                    
	        </tr>
	      </thead>
	      <tbody>     
	      <tr>
	          <td>Name</td>
	          <td><%= name %></td>
	        </tr>
	        <tr>
	          <td>Transaction</td>
	          <td><%= transactions_per_day %> per day</td>
	        </tr>
	        <tr>
	          <td>Chat Type</td>
	          <td><%= chat_type %></td>
	        </tr>
	        <tr>
	          <td>Concurrent Users</td>
	          <td><%= users %></td>
	        </tr>
	        <tr>
	          <td>Supports Chat Rooms</td>
	          <td><%= chatroom %></td>
	        </tr>
	        <tr>
	          <td>Supports Private Chat</td>
	          <td><%= privatechat %></td>
	        </tr>
	        <tr>
	          <td>Extras</td>
	          <td><%= extras %></td>
	        </tr>
	        <tr>
	          <td>Price</td>
	          <td><%= cost %></td>
	        </tr>
	        <tr>
	          <td>Added Incoming Transmission Fee</td>
	          <td><%= incoming %></td>
	        </tr>
	        <tr>
	          <td>Added Outgoing Transmission Fee</td>
	          <td><%= outgoing %></td>
	        </tr>
	      </tbody>
	    </table>            
    </div>     