<div class="col-xs-6 col-md-2" id = "rcms-nav-app">
  <ul class="nav nav-pills nav-stacked">
    <li role="presentation" class = "stats"><a href="#app/stats/<%= id %>">Statistics</a></li>                        
    <li role="presentation" class = "settings"><a href="#app/settings/<%= id %>">Settings</a></li>  
  </ul>
</div>

<div class="col-xs-12 col-md-9" id= "rcms-body-app">
	<div class="row">
		<div class="col-xs-6 col-md-6">
			<h4>Application ID</h4>
			<p><%= id %></p>
		</div>		
	</div>
	<hr>
	<div class="row" id="change-app-settings">
		<div class="col-xs-6 col-md-5 col-md-offset-1">
			<h4>Change your Application settings</h4>
			<p>Chang aplication setting by changing the type of package choosen</p>
			<button type="button" class="btn btn-info" data-toggle="modal" data-target="#updateAppModal">Change Settings</button>
		</div>			
	</div>
	<hr>
	<div class="row">
		<div class="col-xs-6 col-md-6">
			<h4>Delete Application</h4>
			<p>Permanantly Deleting Application</p>
			<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteAppModal">Delete</button>
		</div>
	</div>
</div>



<!-- delete app modal -->
<div class="modal fade" id="deleteAppModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Delete App</h4>
      </div>
      <div class="modal-body">
        <form class="form-inline" role="form" id="delete-user-app">
		  <div class="form-group">
		    <div class="input-group">
		      <label class="sr-only" for="appId">Enter App Id</label>		      
		      <input type="text" class="form-control" id="appId" name= "appId" placeholder="Enter App Id">
		    </div>
		  </div>
		  <div class="form-group">
		    <button type="submit" class="btn btn-default">Confirm</button>
		  </div>		  
		</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>        
      </div>
    </div>
  </div>
</div>


<!-- delete app modal -->
<div class="modal fade" id="updateAppModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Update App</h4>
      </div>
      <div class="modal-body">
        <form class="form-inline" role="form" id="update-user-app">
		  <div class="form-group">
		    <div class="input-group">
		      <label class="sr-only" for="package_type">Select Package</label>		      
		      <select class="form-control" name="package_type">
                <option value="free">Free</option>
                <option value="basic">Basic</option>
                <option value="premium">Premium</option>
                <option value="enterprise">Enterprise</option>              
              </select>
		    </div>
		  </div>			
		  <div class="form-group">
		    <button type="submit" class="btn btn-default">Confirm</button>
		  </div>
		   <div class="form-group">
		    <a href="#package" target="_blank">Learn More...</a>
		  </div>
		  <input type="text" class="form-control" id="rowkey" name= "rowkey" value="<%= id %>" style="display:none;">		     
		</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>        
      </div>
    </div>
  </div>
</div>