<td><a href="#app/stats/<%= RowKey %>"><%= name %></a></td>
<td><a href="#app/stats/<%= RowKey %>"><%= package_type %></a></td>
<td><a href="#app/stats/<%= RowKey %>"><%= RowKey %></a></td>
<td><a href="#app/stats/<%= RowKey %>"><%= port %></a></td>
<td><a href="#app/stats/<%= RowKey %>"><%= requests %></a></td>
<td><a href="#app/stats/<%= RowKey %>"><%= cost %></a></td>
<!-- <td><button type="button" class="btn btn-warning">Edit</button></td>
<td><button type="button" class="btn btn-danger">Delete</button></td> -->
