<div class="col-xs-6 col-md-2" id = "rcms-nav">
  <ul class="nav nav-pills nav-stacked">
    <li role="presentation" class = "applications"><a href="#">Applications</a></li>                        
    <li role="presentation" class = "package"><a href="#package">Packages</a></li>  
  </ul>
</div>
<div class="col-xs-12 col-md-9 " id= "rcms-body">
  
  <div class="row">
    <div class="col-md-12">
      <div role="tabpanel">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active"> <a href="#Free" aria-controls="Free" role="tab" data-toggle="tab">Free</a></li>
          <li role="presentation"><a href="#Basic" aria-controls="Basic" role="tab" data-toggle="tab">Basic</a></li>
          <li role="presentation"><a href="#Premium" aria-controls="Premium" role="tab" data-toggle="tab">Premium</a></li>
          <li role="presentation"><a href="#Enterprise" aria-controls="Enterprise" role="tab" data-toggle="tab">Enterprise</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content" id = "package-tabs"></div>
      </div>
    </div>
  </div> 
</div>



